.DS_Store
/node_modules
/public/hot
/public/storage
/storage/*.key
/.idea
/.fleet
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpunit.result.cache
.php_cs.cache
/documentation
/.phpunit.cache
/public/build
.env.backup
.env.production
auth.json
.env
docker-compose.yml
docker
public
vendor
storage
